{% extends "librarian/layout.html" %} {% block content %}
<div class="content-section mx-auto w-50">
<form
    method="POST"
    action=""
    class="form w-75 mx-auto mt-3 mb-3"
    style="display: flexbox; justify-content: center; align-items: center"
>
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4 h2 font-weight-normal">
            Reset Password
        </legend>
        <div class="form-group">
            {{ form.new_password.label(class='h5 font-weight-normal
            form-control-label mt-2') }} {% if form.new_password.errors %} {{
            form.new_password(class="form-control password form-control-lg is-invalid
            mt-1") }}
            <div>
                {% for error in form.new_password.errors %}
                <p class="text-danger mt-1">*{{error}}</p>
                {% endfor %}
            </div>

            {% else %} {{ form.new_password(class="form-control password form-control-lg
            mt-1") }} {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label(class='h5 font-weight-normal
            form-control-label mt-2') }} {% if not form.new_password.errors and
            form.confirm_password.errors %} {{
            form.confirm_password(class="form-control password form-control-lg is-invalid
            mt-1") }}
            <div>
                {% for error in form.confirm_password.errors %}
                <p class="text-danger mt-1">*{{error}}</p>
                {% endfor %}
            </div>
            {% else %} {{ form.confirm_password(class="form-control password
            form-control-lg mt-1") }} {% endif %}
        </div>
        <div>
            <input type="checkbox" id="showPass" onchange="showPassword()">
            <label for="showPass">Show</label>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-lg btn-danger" href="{{url_for("librarian.account")}}"><i class="bi bi-x-circle mr-1"></i>Cancel</a>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-lg btn-success" id="submit" name="submit" type="submit" value="Reset Password"><i class="bi bi-lock"></i>Reset Password</button>
        </div>
    </div>
    <div class="container mt-3"></div>
</form>
{% endblock content %}
