{% extends "user/layout.html" %} {% block content %}
<div class="content-section mx-auto w-50">
    <form
        method="POST"
        action=""
        class="form mx-auto w-75 mb-3 mt-3"
    >
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 h2 font-weight-normal">
                Book Feedback
            </legend>
            <div class="form-group">
                {{ form.bookid.label(class='h5 font-weight-normal form-control-label mt-3') }}
                {% if form.bookid.errors %}
                {{ form.bookid(class="form-control form-control-lg is-invalid mt-1") }}
                <div>
                    {% for error in form.bookid.errors %}
                    <p class="text-danger mt-1">*{{ error }}</p>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.bookid(class="form-control form-control-lg mt-1") }}
                {% endif %}
            </div>
            <div>
                {{ form.rating.label(class="h5 font-weight-normal
                form-control-label mt-2") }}
                <div>
                    {% for option in form.rating %}
                        <div class="form-check form-check-inline">
                            {{ option(class="form-check-input mb-2", id=option.id) }}
                            <label class="font-weight-normal form-control-label mt-2" for="{{ option.id }}" style="font-size: 1.3rem;">
                                {{ option.label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                {{ form.content.label(class='h5 font-weight-normal
                form-control-label mt-2') }} {% if form.content.errors %} {{
                form.content(class="form-control form-control-lg is-invalid
                mt-1") }}
                <div>
                    {% for error in form.content.errors %}
                    <p class="text-danger mt-1">*{{error}}</p>
                    {% endfor %}
                </div>

                {% else %} {{ form.content(class="form-control form-control-lg
                mt-1") }} {% endif %}
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-lg btn-danger" href="{{url_for("user.mybooks")}}"><i class="bi bi-x-circle mr-1"></i>Cancel</a>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-lg btn-success" id="submit" name="submit" type="submit" value="Edit"><i class="bi bi-cloud-check mr-1"></i>Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}