{% extends "user/layout.html" %} {% block content %}
<div class="content-section container">
<div class="container mt-3">
    <h2>Current</h2>
    {% if current2|length>0 %} {% for feedbackid, issuedbook in current2 %} {% set book=issuedbook.book %} {% if
    loop.index0 % 4 == 0 %}
        <div class="row mt-3">
            {% endif %}
            <div class="col-md-3">
                <div class="card h-100 special-card mx-1">
                    <a href="{{ url_for('user.book_info', bookid=book.bookid) }}" class="text-decoration-none text-muted">
                    <img
                        class="card-img-top mx-auto"
                        src="{{ url_for('static', filename='book/pictures/' + book.picture) }}"
                        alt="Card image cap"
                        style="width: 100%; height: 25vh"
                    />
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <h6 class="card-title">{{ book.author }}</h6>
                        <p class="card-text text-wrap">{{ book.description }}</p>
                    </div></a>
                    {% if feedbackid %}
                    <div class="container text-center mb-2">
                        <a href="{{url_for("user.edit_feedback", feedbackid=feedbackid)}}" class="btn btn-dark"><i class="bi bi-pencil-square mr-1"></i>Edit Feedback</a>
                    </div>
                    {% else %}
                    <div class="container text-center mb-2">
                        <a href="{{url_for("user.book_feedback", bookid=book.bookid)}}" class="btn btn-primary"><i class="bi bi-chat-left mr-1"></i>Feedback</a>
                    </div>
                    {% endif %}
                    <div class="container mb-3">
                        <div class="row mx-auto">
                            <div class="mr-4">
                                <a href="{{url_for("user.return_book", issueid=issuedbook.issueid)}}" class="btn btn-danger"><i class="bi bi-arrow-bar-up mr-1"></i>Return</a>
                            </div>
                            <div class="ml-3">
                                <a href="{{ url_for('user.view_book', bookid=book.bookid) }}" class="btn btn-success"><i class="bi bi-eye mr-1"></i>View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if loop.index % 4 == 0 or loop.last %}
        </div>
    {% endif %} {% endfor %} 
    {% else %}
    <h4 class="mx-auto mt-3">You haven't borrowed any Book</h4>
    {% endif %}
</div>
<div class="container mt-4">
    <h2>Requests</h2>
    {% if requests|length>0 %}
    {% for request in requests %} {% if loop.index0 % 4 == 0 %}
    <div class="row mt-3">
        {% endif %}
        <div class="col-md-3">
            <div class="card h-100 special-card mx-1">
                <a href="{{ url_for('user.book_info', bookid=request.book.bookid) }}" class="text-decoration-none text-muted">
                <img
                    class="card-img-top mx-auto"
                    src="{{ url_for('static', filename='book/pictures/' + request.book.picture) }}"
                    alt="Card image cap"
                    style="width: 100%; height: 25vh"
                />
                <div class="card-body">
                    <h4 class="card-title">{{ request.book.title }}</h4>
                    <h5 class="mt-2">For - {{ request.days }} days</h5>
                    <h5 class="mt-2">Status - <span class="text-{{ ['warning', 'danger', 'success'][status_order[request.status]] }}">{{ request.status.capitalize() }}</span></h5>
                </div>
                </a>
                {% if request.status!='pending' %}
                <div class="container text-center mb-3">
                    <a href="{{url_for("user.delete_request", requestid=request.requestid)}}" class="btn btn-success"><i class="bi bi-check2-circle mr-1"></i>Okay</a>
                </div>
                {% else %}
                <div class="container text-center mb-3">
                    <a href="{{url_for("user.delete_request", requestid=request.requestid)}}" class="btn btn-danger"><i class="bi bi-x-circle mr-1"></i>Cancel</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% if loop.index % 4 == 0 or loop.last %}
    </div>
    {% endif %} {% endfor %}
    {% else %}
    <h4 class="mx-auto mt-3">There are no Requests</h4>
    {% endif %}
</div>
<div class="container mt-4">
    <h2>Completed</h2>
    {% if completed|length>0 %} {% for issuedbook in completed %} {% set book=issuedbook.book %} {% if
    loop.index0 % 4 == 0 %}
        <div class="row mt-3">
            {% endif %}
            <div class="col-md-3">
                <div class="card h-100 special-card mx-1">
                    <a href="{{ url_for('user.book_info', bookid=book.bookid) }}" class="text-decoration-none text-muted">
                    <img
                        class="card-img-top mx-auto"
                        src="{{ url_for('static', filename='book/pictures/' + book.picture) }}"
                        alt="Card image cap"
                        style="width: 100%; height: 25vh"
                    />
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <h6 class="card-title">{{ book.author }}</h6>
                        <p class="card-text text-wrap">{{ book.description }}</p>
                    </div>
                    </a>
                    <div class="container mb-3 text-center">
                        <a
                            href="{{ url_for('user.book_request', bookid=book.bookid) }}"
                            class="btn btn-success"
                            ><i class="bi bi-send mr-1"></i>Request</a
                        >
                    </div>
                </div>
            </div>
            {% if loop.index % 4 == 0 or loop.last %}
        </div>
    {% endif %} {% endfor %} 
    {% else %}
    <h4 class="mx-auto mt-3">There are no Completed Books</h4>
    {% endif %}
</div>
</div>
{% endblock content %}